<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Update</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Inventory_Update.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/bright_Logo.png') }}">
</head>
<body>
      <img src="/static/images/Logo.png" alt="TAU Fashion Logo" class="logo">
    <h1>Update Inventory</h1>
     {% if message %}
    <div class="message">
            <p>{{ message }}</p>
    </div>
     {% endif %}
    <form action="/Inventory_Update" method="POST">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Current Quantity</th>
                    <th>New Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item[0] }}</td> <!-- G_ID -->
                    <td>{{ item[2] }}</td> <!-- Name -->
                    <td>{{ item[1] }}</td> <!-- Quantity -->
                    <td>
                        <input type="number" name="quantity_{{ item[0] }}" min="0" value="{{ item[1] }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Update Inventory</button>
    </form>
<div style="text-align: center; margin-top: 20px;">
    <a href="/New_Item">
        <button type="button" class="navigation-button">Add New Item</button>
    </a>
    <a href="/M_Home_Page">
        <button type="button" class="navigation-button">Home Page</button>
    </a>
</div>
</body>
</html>