<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Fashion TAU</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'styles.css') }}">
</head>
<body>
        <div>
            <h1>Welcome to Fashion TAU</h1>
            <!-- Login Form -->
                <h3 class="warning">Login to Your Account</h3>
                <div class="form-group">
                    <label for="login-email">Email:</label>
                    <input placeholder="Email" id="login-email" autocomplete="off" type="text" name="email" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Password:</label>
                    <input placeholder="Password" id="login-password" type="password" name="password" required>
                </div>
                 <input type="submit" value="Login">
            </form>
        </div>
    </section>
</body>
</html>

