<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - Fashion TAU</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'styles.css') }}">
</head>
<body>
<!-- Signup Form -->
        <div>
            <h1>Welcome to Fashion TAU</h1>
                <h3>Create a New Account</h3>
                <div class="form-group">
                    <label for="signup-username">Username:</label>
                    <input type="text" id="signup-username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="signup-email">Email:</label>
                    <input type="email" id="signup-email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="signup-password">Password:</label>
                    <input type="password" id="signup-password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="signup-age">Age:</label>
                    <input type="number" id="signup-age" name="age" min="1" required>
                </div>
                <div class="form-group">
                    <label for="signup-gender">Gender:</label>
                    <select id="signup-gender" name="gender" required>
                        <option value="">Select</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="signup-faculty">Faculty:</label>
                    <input type="text" id="signup-faculty" name="faculty" required>
                </div>
                <button type="submit" class="btn">Sign Up</button>
            </form>
</body>
</html>